body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 50px;
  height: 50px;
  margin-right: 1px;
  margin-bottom: -5px;
}

.logo-ruby {
  font-size: 30px;
}

.logo-software {
  font-size: 15px;
  margin-top: 35px;
  margin-left: -75px;
  padding-top: 5px;
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

.navigation li {
  margin-left: 10px;
}

.navigation a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#signup {
  /* margin-top: 50px;*/
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.input-field-wrapper {
  display: flex;
  flex-direction: column;
  text-align:left;
  margin-bottom: 10px;
}

.input-label {
  font-size: 16px;
  margin-right: 10px;
  margin-top: 8px;
  display: none;
  margin-bottom: 5px;
}

.input-field {
  width: 300px;
  height: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

.input-field:focus {
  border-color: #555;
}

.signup-button {
  width: 150px;
  height: 40px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #555;
}



#plans {
  text-align: center;
  margin-top: 30px;
}

.plans-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  flex-wrap: wrap;
}

.plan {
  flex-basis: calc(33.33% - 40px);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.plan img {
  max-width: 100%;
  display: block;
  margin-bottom: 10px;
}

.plan h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.features {
  list-style: none;
  padding: 0;
}

.features li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  justify-content: center;
}

.tick,
.cross {
  font-size: 18px;
  margin-right: 5px;
}

.tick {
  color: green;
}

.cross {
  color: red;
}

/* Media queries to adjust padding and number of rows */
@media only screen and (max-width: 850px) {
  .plans-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 640px) {
  .plans-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .plan {
    flex-basis: calc(50% - 40px);
  }
}

@media only screen and (max-width: 480px) {
  .plans-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .plan {
    flex-basis: calc(100% - 40px);
  }
}

@media only screen and (min-width: 1165px) {
  .plans-container {
    padding-left: calc(-50px + (100vw - 850px) / 2);
    padding-right: calc(-50px + (100vw - 850px) / 2);
  }
}

#video {
  text-align: center;
  margin-top: 30px;
}

.video-container {
  max-width: 560px; /* Set the maximum width for the video */
  margin: 0 auto; /* Center the video horizontally */
  position: relative;
}

.video-container iframe {
  width: 100%; /* Make the video fill the container width */
  height: 315px; /* Set the default height */
  max-height: 100%; /* Prevent stretching beyond 315px height */
}

/* Media queries to adjust video size for low screen sizes */
@media only screen and (max-width: 640px) {
  .video-container iframe {
    height: 280px; /* 4:3 aspect ratio */
  }
}

@media only screen and (max-width: 480px) {
  .video-container iframe {
    height: 320px; /* 1:1 aspect ratio */
  }
}
